image: ghcr.io/hoang-rio/docker-linux-android-sdk:jdk21

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build

before_script:
  - chmod +x ./gradlew

build_apk_free:
  stage: build
  interruptible: true
  rules:
    - if: $CI_COMMIT_REF_NAME == "release" || $CI_COMMIT_TAG
      when: never
    - when: on_success
  script:
    - gpg2 -v --import <(echo "$GPG_PRIVATE_KEY")
    - GPG=gpg2 blackbox_postdeploy
    - java --version
    - cd SoftEtherClient/src/main/cpp && ./build-openssl-android.sh
    - cd $CI_BUILDS_DIR
    - ./gradlew assembleFreeRelease
    - cp app/build/outputs/apk/free/release/app-free-release.apk $CI_PROJECT_DIR/$CI_COMMIT_SHA-free.apk
    - ls -alh $CI_PROJECT_DIR
  artifacts:
    paths:
      - ./$CI_COMMIT_SHA-free.apk
    expire_in: 5 day

build_apk_pro:
  stage: build
  interruptible: true
  rules:
    - if: $CI_COMMIT_REF_NAME == "release" || $CI_COMMIT_TAG
      when: never
    - when: on_success
  script:
    - gpg2 -v --import <(echo "$GPG_PRIVATE_KEY")
    - GPG=gpg2 blackbox_postdeploy
    - cd SoftEtherClient/src/main/cpp && ./build-openssl-android.sh
    - cd $CI_BUILDS_DIR
    - ./gradlew assembleProRelease
    - cp app/build/outputs/apk/pro/release/app-pro-release.apk $CI_PROJECT_DIR/$CI_COMMIT_SHA-pro.apk
    - ls -alh $CI_PROJECT_DIR
  artifacts:
    paths:
      - ./$CI_COMMIT_SHA-pro.apk
    expire_in: 5 day

build_aab_free:
  stage: build
  interruptible: true
  rules:
    - if: $CI_COMMIT_TAG =~ /f.*/
  script:
    - gpg2 -v --import <(echo "$GPG_PRIVATE_KEY")
    - GPG=gpg2 blackbox_postdeploy
    - java --version
    - cd SoftEtherClient/src/main/cpp && ./build-openssl-android.sh
    - cd $CI_BUILDS_DIR
    - ./gradlew :app:bundleFreeRelease
    - cp app/build/outputs/bundle/freeRelease/app-free-release.aab $CI_PROJECT_DIR/$CI_COMMIT_TAG-free.aab
    - ls -alh $CI_PROJECT_DIR
  artifacts:
    paths:
      - ./$CI_COMMIT_TAG-free.aab
    expire_in: 5 day

build_aab_pro:
  stage: build
  interruptible: true
  rules:
    - if: $CI_COMMIT_TAG =~ /p.*/
  script:
    - gpg2 -v --import <(echo "$GPG_PRIVATE_KEY")
    - GPG=gpg2 blackbox_postdeploy
    - java --version
    - cd SoftEtherClient/src/main/cpp && ./build-openssl-android.sh
    - cd $CI_BUILDS_DIR
    - ./gradlew :app:bundleProRelease
    - cp app/build/outputs/bundle/proRelease/app-pro-release.aab $CI_PROJECT_DIR/$CI_COMMIT_TAG-pro.aab
    - ls -alh $CI_PROJECT_DIR
  artifacts:
    paths:
      - ./$CI_COMMIT_TAG-pro.aab
    expire_in: 5 day
