
[submodule "sstpClient"]
	path = sstpClient
	url = git@github.com:hoang-rio/Open-SSTP-Client.git
	branch = vpngate-connector
[submodule "vpnLib"]
	path = vpnLib
	url = git@github.com:hoang-rio/vpnLib.git
[submodule "SoftEtherClient"]
	path = SoftEtherClient
	url = git@github.com:hoang-rio/SoftEther-Android-Module.git
